body
{
    font-family: 'Poppins', sans-serif;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height: 48px;
    column-gap: 4px;
  }


.nav-link:hover, .nav-link:focus {
    color: white;
    outline: 2px solid #006a6b;
    outline-offset: 2px;
    background-color: #006a6b;
    border-radius: 12px; 
}

.nav-link{
    border-radius: 12px;
}

.btn-primary-hero {
    background-color: #006a6b;
    color: white;
}

.btn-primary-hero:hover {
    background-color: #006a6b;
    color: white;
    outline: 2px solid #006a6b;
    outline-offset: 2px;
  }

.btn-outline-secondary {
  color: #006a6b;
  border-color: #006a6b;
  border-width: 2px;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #006a6b;
  border-color: #006a6b;
  outline: 2px solid #006a6b;
  outline-offset: 2px;
}

/***************/
/*** COLORS ***/
/**************/

.primary
{
    background-color: #006a6b;
    color: #ffffff;
}

.primary-container
{
    background-color: #08fcfc;
    color: #002020;
}

.secondary
{
    background-color: #4a6363;
    color: #ffffff;
}

.secondary-container
{
    background-color: #cce8e7;
    color: #041f1f;
}

.tertiary
{
    background-color: #4b607c;
    color: #ffffff;
}

.tertiary-container
{
    background-color: #d2e4ff;
    color: #041c35;
}

.error
{
    background-color: #ba1b1b;
    color: #ffffff;
}

.error-container
{
    background-color: #ffdad4;
    color: #410001;
}

.background
{
    background-color: #fafdfc;
    color: #191c1c;
}

.surface
{
    background-color: #dae5e4;
    color:#3f4848; 
}

.outline
{
    background: none;
    border: 1px solid #6f7978;
    color: #6f7978;
}
